@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");
body {
  margin: 0;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
}

/* global */
.container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.loginPage {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

/* Description */

.description {
  color: white;
  width: 40%;
  overflow-y: auto;
}

.description p {
  font-size: 0.8rem;
  margin-top: 16px;
}

/* LoginForm */
.right {
  width: 38%;
  max-height: inherit;
}
.form {
  text-align: center;
  background-color: white;
  padding: 16px;
  border-radius: 12px;
}

.advertise {
  background-color: hsl(248, 32%, 49%);
  height: 45px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px 0;
    justify-content: center;
  }
  .loginPage {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
  }
  .description,
  .right {
    width: 90%;
  }

  .advertise {
    text-align: center;
    height: 65px;
    padding: 16px 20px;
  }
}
